<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="template.xhtml">

    <ui:define name="content">
        <f:metadata>
            <!-- When page is loaded, get ID from URL and store it in the bean.
             Then call loadCountry, to let the bean load the entity. -->
            <f:viewParam name="countryId" value="#{countryDetailsBean.countryId}"/>
            <f:event type="preRenderComponent" listener="#{countryDetailsBean.loadCountry()}"/>
        </f:metadata>

        <h:form>
            <h1>#{countryDetailsBean.country.name}</h1>

            <h:panelGrid columns="2">
                <h:outputLabel>Population: </h:outputLabel>
                <h:outputText value="#{countryDetailsBean.country.population}">
                    <f:convertNumber groupingUsed="true"/>
                </h:outputText>
                <h:outputLabel>Deceased Population: </h:outputLabel>
                <h:outputText value="#{countryDetailsBean.country.deceasedPopulation}">
                    <f:convertNumber groupingUsed="true"/>
                </h:outputText>
                <h:outputLabel>Growth per tick: </h:outputLabel>
                <h:outputText value="#{countryDetailsBean.country.growthFactor}">
                    <f:convertNumber type="percent" minFractionDigits="2"/>
                </h:outputText>
            </h:panelGrid>

            <h2>Diseases: </h2>
            <h:dataTable value="#{countryDetailsBean.country.infectedPeoplePerDisease}" var="infection">
                <h:column>
                    #{infection.diseaseName}
                </h:column>
                <h:column>
                    <h:outputText value="#{infection.amount}">
                        <f:convertNumber groupingUsed="true"/>
                    </h:outputText>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
