<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        template="template.xhtml">
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="order" value="#{worldListBean.orderAscending}"></f:viewParam>
        </f:metadata>
        <h:form>

            <h:inputText value="#{worldListBean.filter}"/>
            <h:commandButton value="Filter"/>
            <h:dataTable value="#{worldListBean.worlds}" var="world">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    <h:link value="#{world.name}" outcome="worlddetails.xhtml">
                        <f:param name="worldId" value="#{world.id}"/>
                    </h:link>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:link value="Created">
                            <!-- Link to same page, with new value as URL parameter -->
                            <f:param name="order" value="#{!worldListBean.orderAscending}"/>
                        </h:link>
                    </f:facet>
                    <h:outputText value="#{world.creationDate}">
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
                    </h:outputText>
                </h:column>
            </h:dataTable>
            <h:commandButton id="btnCreateWorld" value="Create World" action="createworld"/>
        </h:form>

    </ui:define>
</ui:composition>