<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="template.xhtml">

    <ui:define name="content">
        <f:metadata>
            <!-- When page is loaded, get ID from URL and store it in the bean. -->
            <f:viewParam name="worldId" value="#{printWorldReportBean.worldId}"/>
        </f:metadata>

        <h:form>
            <h:commandButton id="btnPrint"
                             value="Get report as PDF"
                             actionListener="#{printWorldReportBean.btnPrintClick}"
            />
        </h:form>

    </ui:define>

</ui:composition>