<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>


<h:head>
    <title>Biohazard</title>
    <h:outputStylesheet name="css/screen.css"/>
</h:head>

<h:body>
    <div id="page">
        <div id="container" class="shadowed">
            <div id="header">
                <span>Biohazard World Monitor</span>
            </div>
            <div id="content">
                <ui:insert name="content">
                    [Content will be inserted here]
                </ui:insert>
            </div>
            <div id="footer">
                <span>1.0</span>
            </div>
        </div>
    </div>
</h:body>
</html>
