<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        template="template.xhtml">
    <ui:define name="content">
        <f:metadata>
            <!-- When page is loaded, get ID from URL and store it in the bean.
             Then call loadWorldEntity, to let the bean load the entity. -->
            <f:viewParam name="worldId" value="#{worldDetailsBean.worldId}"/>
            <f:event type="preRenderComponent" listener="#{worldDetailsBean.loadWorldEntity}"/>
        </f:metadata>

        <h:form>
            <h1>#{worldDetailsBean.worldSimulationEntity.name}</h1>

            <h:panelGrid columns="2">
                <h:outputLabel>Export: </h:outputLabel>
                <h:link value="Print report" outcome="printreport.xhtml">
                    <f:param name="worldId" value="#{worldDetailsBean.worldId}"/>
                </h:link>

                <h:outputLabel>Created: </h:outputLabel>
                <h:outputText value="#{worldDetailsBean.worldSimulationEntity.creationDate}">
                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
                </h:outputText>

            </h:panelGrid>
            <h:panelGrid columns="2">
                <h:outputLabel>Age: </h:outputLabel>
                <h:outputText value="#{worldDetailsBean.age} Ticks">
                    <f:convertNumber groupingUsed="true"/>
                </h:outputText>
                <h:outputLabel>Population: </h:outputLabel>
                <h:outputText value="#{worldDetailsBean.totalPopulation}">
                    <f:convertNumber groupingUsed="true"/>
                </h:outputText>
            </h:panelGrid>

            <h:dataTable id="continentTable"
                         value="#{worldDetailsBean.continents}"
                         var="continent">
                <h:column>
                    #{continent.name}
                </h:column>
                <h:column>
                    <h:dataTable value="#{continent.sortedCountries}" var="country">
                        <h:column>
                            <h:link value="#{country.name}" outcome="countrydetails.xhtml">
                                <f:param name="countryId" value="#{country.id}"/>
                            </h:link>
                        </h:column>
                        <h:column>
                            <h:outputText value="#{country.population}">
                                <f:convertNumber groupingUsed="true"/>
                            </h:outputText>
                        </h:column>
                    </h:dataTable>
                </h:column>
            </h:dataTable>

            <h:outputLabel>Diseases: </h:outputLabel>
            <h:dataTable value="#{worldDetailsBean.worldInfectionState.entrySet()}" var="infection">
                <h:column>
                    #{infection.key}
                </h:column>
                <h:column>
                    <h:outputText value="#{infection.value}">
                        <f:convertNumber groupingUsed="true"/>
                    </h:outputText>
                </h:column>
            </h:dataTable>

            <h:panelGrid columns="4">
                <h:outputLabel>Status:</h:outputLabel>
                #{worldDetailsBean.status}
                <h:commandButton id="btnRun"
                                 value="#{worldDetailsBean.btnRunValue}"
                                 action="#{worldDetailsBean.btnRunClick}"
                                 rerender="continentTable"
                />
                <h:commandButton id="btnTick"
                                 value="Tick"
                                 disabled="#{worldDetailsBean.running}"
                                 action="#{worldDetailsBean.btnTickClick}"
                                 rerender="continentTable"
                />
            </h:panelGrid>


            <div>
                <h:commandButton id="btnBack" value="Back" action="index"/>
                <h:commandButton id="btnDelete" value="Delete"
                                 onclick="if (! confirm('Destroy this world?')) return false"
                                 action="#{worldDetailsBean.destroyWorldEntity}"/>
            </div>
        </h:form>

    </ui:define>
</ui:composition>