body {
    background-color: #cecece;
    color: #4e5255;
    font: 12px/ 1.4 "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#page {
    position: absolute;
    background-color: #e3e3e3;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    max-width: 1280px;
    background-color: #ececec;
}

#container div {
    padding: 4px;
}

#header {
    background-color: #030303;
    border-bottom: 1px solid #292929;
    color: #ececec;
    height: 50px;
    margin-top: -50px;
    border-right: 1px solid #909090;
    border-left: 1px solid #909090;
}

#content {
    min-height: 100%;
    padding: 0 20px;
    background-color: #fff;
    border-right: 1px solid #909090;
    border-left: 1px solid #909090;
}

#footer {
    height: 50px;
    line-height: 25px;
    margin-bottom: -50px;
    padding: 10px;
    font-size: 8px;
    border-right: 1px solid #909090;
    border-left: 1px solid #909090;
}

.shadowed {
    box-shadow: 6px 6px 6px #cecece, -6px 6px 6px #cecece, 6px -6px 6px #cecece, -6px -6px 6px #cecece;
    -moz-box-shadow: 6px 6px 6px #cecece, -6px 6px 6px #cecece, 6px -6px 6px #cecece, -6px -6px 6px #cecece;
}